@import "tailwindcss";

/* debug / proteção permanente */
html, body, #root {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* garantir imagens e svgs não estourem */
img, svg, video {
    max-width: 100%;
    height: auto;
}
